.section-3, .section-2, .section-1 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.container-shop h2, .div-h3 h3, .section-6 h2, .section-main .text h2 {
  display: inline-block;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  overflow-x: hidden;
}

.body {
  background-color: black;
}

/* --------------------------------- CSS HEADER --------------------------------- */
header {
  background-image: url(../img/background-img.jpg);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  grid-area: header;
}
header .nav {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 1rem;
  border: rgb(56, 52, 52) ridge 7px;
  border-radius: 5%;
}
header .nav ul {
  background-color: black;
  border-style: solid;
  border-width: 4px 4px;
  border-color: #ff4c00;
  border-radius: 10px;
}
header .nav ul li {
  display: inline-block;
}
header .nav ul li a {
  color: #ff3300;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 15px;
  font-family: "Josefin Sans", sans-serif;
}
header .nav ul li a:hover {
  background-color: #ffd900;
}
header .logo img {
  width: 24%;
  top: 0;
  left: 0;
  margin-left: 10px;
  border: 5px inset rgb(255, 255, 204);
  border-radius: 4%;
}

/* ------------------------------- CSS FOOTER ------------------------------- */
footer {
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 2px;
  background-color: black;
  border-top: solid;
  border-color: azure;
  border-width: 2px;
  overflow: hidden;
  resize: none;
  grid-area: foot;
}
footer div {
  padding-bottom: 25px;
}
footer div p {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  color: #ffff8a;
  margin: 5px;
}
footer div i {
  font-size: 3rem;
  color: #ffffcc;
  margin: 5px;
}

/* -------------------------------- CSS INDEX ------------------------------- */
section {
  background-color: black;
  padding: 20px;
}

.section-main {
  padding: 20px;
  padding-bottom: 70px;
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: #a32303 double 4px;
  padding: 10px;
  grid-area: main;
}
.section-main .gif {
  width: 35%;
  height: auto;
  border: rgba(216, 89, 5, 0.9333333333) inset 10px;
  border-radius: 25px;
  grid-area: gif;
}
.section-main .gif img {
  width: 100%;
}
.section-main .text {
  width: 65%;
}
.section-main .text h1 {
  font-family: "Merriweather", serif;
  font-size: 5rem;
  color: #ff3300;
  border: #940303 inset 9px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 50px;
  display: inline-block;
}
.section-main .text h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  color: #ff3300;
  padding-top: 2rem;
  border: #940303 outset 7px;
  border-radius: 30px;
  padding: 10px;
  padding-bottom: 2px;
  margin-top: 2rem;
  grid-area: h2;
}
.section-main .text p {
  font-family: "Roboto Slab", serif;
  color: red;
  width: 90%;
  font-size: 2.3rem;
  margin-left: 5rem;
  margin-top: 2.5rem;
  border: rgba(216, 89, 5, 0.9333333333) ridge 5px;
  border-radius: 25px;
  padding: 20px;
  grid-area: main-p;
}

.section-1 .img-1, .section-2 .img-1, .section-3 .img-1 {
  width: 35%;
}
.section-1 .img-1 img, .section-2 .img-1 img, .section-3 .img-1 img {
  width: 100%;
  height: auto;
  margin-top: 10%;
  border: rgba(216, 89, 5, 0.9333333333) inset 10px;
  border-radius: 25px;
}
.section-1 .text, .section-2 .text, .section-3 .text {
  width: 65%;
}
.section-1 .text h3, .section-2 .text h3, .section-3 .text h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  color: #ff4c00;
  border: #f03b0e outset 5px;
  border-radius: 15px;
  display: inline-block;
  padding: 10px;
}
.section-1 .text p, .section-2 .text p, .section-3 .text p {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  color: red;
  width: 90%;
  margin-left: 5rem;
  margin-top: 2.5rem;
  border: rgba(216, 89, 5, 0.9333333333) ridge 5px;
  border-radius: 25px;
  padding: 20px;
}

.section-1 {
  grid-area: sec1;
}

.section-2 {
  grid-area: sec2;
}

.section-3 {
  grid-area: sec3;
}

/* --------------------------------- DESKTOP -------------------------------- */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: "header header" "main main" "sec1 sec1" "sec2 sec2" "sec3 sec3" "foot foot";
}

/* -------------------------------- CSS PLOT -------------------------------- */
.section-4 h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  color: #ff3300;
  margin: 10px;
}
.section-4 p {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  color: red;
  border: rgba(216, 89, 5, 0.9333333333) ridge 5px;
  border-radius: 25px;
  padding: 20px;
}

.section-plot {
  border: rgba(216, 89, 5, 0.9333333333) ridge 5px;
  border-radius: 25px;
  margin: 10px;
}
.section-plot .section-5 h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: #ff4c00;
  text-decoration: underline;
  text-decoration-color: rgba(221, 145, 5, 0.8901960784);
  margin: 8px;
}
.section-plot .section-5 p {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  color: rgb(252, 44, 44);
}

/* -------------------------------- CSS GAMES ------------------------------- */
.section-6 {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.section-6 h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  color: #ff3300;
  padding-bottom: 1rem;
  margin: 10px;
  border: #880000 ridge 8px;
  border-radius: 15px;
  padding: 8px;
}
.section-6 p {
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
  color: rgb(255, 16, 16);
  border: rgba(216, 89, 5, 0.9333333333) ridge 5px;
  border-radius: 25px;
  padding: 10px;
}

.div-h3 h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.3rem;
  color: #ff3300;
  margin: 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  border: rgba(224, 8, 8, 0.9333333333) ridge 5px;
  border-radius: 15px;
  padding: 8px;
}

.div-games {
  display: flex;
  flex-direction: row;
  border: rgba(216, 89, 5, 0.9333333333) ridge 5px;
  border-radius: 10px;
  margin: 20px;
  margin-top: 10px;
}
.div-games p {
  width: 70%;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  color: rgb(243, 35, 53);
  margin: 3rem;
}
.div-games img {
  width: 50%;
}

/* -------------------------------- CSS SHOP -------------------------------- */
.container-shop {
  width: 100%;
  background-image: url(../img/shop-fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container-shop h2 {
  color: #05c2fc;
  font-size: 4rem;
  margin: 2rem;
  border: rgba(54, 6, 230, 0.9333333333) ridge 5px;
  border-radius: 15px;
  background-color: black;
  padding: 6px;
}
.container-shop .producto-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
}
.container-shop .producto-grid .producto {
  background-color: black;
  margin: 2rem;
  padding: 2rem;
  border: rgba(1, 151, 197, 0.9333333333) ridge 8px;
  border-radius: 10px;
}
.container-shop .producto-grid .producto .producto-info {
  margin-top: 20px;
}
.container-shop .producto-grid .producto .producto-info p {
  color: rgb(11, 227, 235);
  font-size: 2.5rem;
}
.container-shop .producto-grid .producto .producto-img img {
  width: 70%;
  height: auto;
  margin-left: 45px;
}

/* ------------------------------- CSS SUPPORT ------------------------------ */
.support h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  color: #ff3300;
}
.support p {
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
  color: red;
  margin-bottom: 1rem;
}
.support form {
  border: #f03b0e ridge 10px;
}
.support form ul li {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  color: #ffb800;
  margin: 1rem;
}

aside p {
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
  color: red;
  margin: 1rem;
}
aside .sup-flex {
  display: flex;
  flex-direction: row;
}
aside .sup-flex .sup-img img {
  width: 60%;
  margin-bottom: 30px;
}
aside .sup-flex .sup-img-death img {
  width: 72%;
  margin-bottom: 30px;
  border: #741700 ridge 10px;
}

/* --------------------------- ANIMATION: YOU DIED -------------------------- */
.death-background {
  background: black;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  opacity: 1;
  animation: fade-in 10s linear;
}

.death-background p {
  color: red;
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
  font-size: 8em;
  font-weight: 400;
  animation: fade-in 10s linear, text-zoom 5s linear;
  animation-iteration-count: infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-zoom {
  0% {
    font-size: 8em;
  }
  25% {
    font-size: 9em;
  }
  50% {
    font-size: 10em;
  }
  75% {
    font-size: 11em;
  }
  100% {
    font-size: 12em;
  }
}
/* ------------------------------ END ANIMATION ----------------------------- */
/* @import "./components/mediaqueries" */

/*# sourceMappingURL=style.css.map */
