<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/fav-icon Solaire.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gulzar&family=Josefin+Sans&family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b3f546ccf1.js" crossorigin="anonymous"></script>
    <title>SoulsLike</title>
</head>

<body class="body">

    <!-- -------------------------------- MENU --------------------------------- -->
    <header class="header">
        <nav class="nav navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false"
                aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav py-0 px-0 mt-sm-3 mt-lg-1">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./plot.html">Plot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./games.html">Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./shop.html">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./support.html">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="logo">
            <img src="../img/logo-darksouls.jpg" alt="logo Dark souls trilogy">
        </div>
        <h1>TRILOGY</h1>
    </header>



    <!-- -------------------------------- PLOT --------------------------------- -->
    <section class="section-4">
        <h2>Plot of the Dark Souls Trilogy</h2>
        <p>We are going to deepen into the plot of the Dark Souls trilogy, which is told through its three games,
            although the souls games have short cinematics that tell you a bit about the plot, unlike other games where
            the cinematic tells the whole plot, the souls games are characterized by telling you through the dialogues
            with the Npcs of the games and the descriptions of the objects which give a lot of information about what
            happened in the story.</p>
    </section>

    <section class="section-plot">
        <section class="section-5">
            <h3>Dark Souls plot</h3>
            <p>The opening cutscene establishes the premise of the game. Dragons once ruled the world during the "Age of
                Ancients." A primordial fire known as the First Flame manifests in the world, establishing a distinction
                between life and death, and light and dark. Four beings find "Lord Souls" near the First Flame, granting
                immense power: Gwyn: the Lord of Sunlight, Nito: the First of the Dead, the Witch of Izalith, and the
                Furtive Pygmy. Gwyn, Nito, and the Witch use their new power to destroy the dragons and take control over
                the world, while the Furtive Pygmy is said to be forgotten, and thus begins the "Age of Fire." Over time, as
                the First Flame begins to fade while humans rise in power, Gwyn sacrifices himself to prolong the Age of
                Fire. The main story takes place towards the end of this second Age of Fire, at which point humanity is said
                to be afflicted with an undead curse related to a circular, flaming symbol on their bodies known as the
                Darksign. Those humans afflicted with the undead curse perpetually resurrect after death until they
                eventually lose their minds, a process referred to as "hollowing."

                The player character is a cursed undead, locked away in an undead asylum. After escaping the asylum, the
                player travels to Lordran to ring the Bells of Awakening. The bells awaken Kingseeker Frampt, who tells the
                player to ascend to Anor Londo, the home of the Gods. In Anor Londo, Gwynevere instructs the player to
                succeed Lord Gwyn and fulfil the prophecy. To accomplish this, the player must acquire the Lord Souls of the
                Witch of Izalith, Nito, and shards of Gwyn's own Lord Soul given to the Four Kings, and to the dragon Seath
                the Scaleless. Optionally, the player may encounter Darkstalker Kaathe, who encourages the player not to
                link the fire, but to let it die out and usher in the Age of Dark instead, due to humanity being created
                from the Furtive Pygmy's own Dark Soul. Once the player acquires the Lord Souls, they travel to the Kiln of
                the First Flame to battle Gwyn. Once Gwyn has been defeated, the player has the choice of linking the flame
                to preserve the Age of Fire or letting it die out to instigate the Age of Dark.</p>
        </section>
        <section class="section-5">
            <h3>Dark Souls II plot</h3>
            <p>The story of Dark Souls II begins with a human who has become Undead, cursed to never die and doomed to
                eventually become a Hollow, a zombie-like being with no memories or purpose. The protagonist is also known
                as the Bearer of the Curse. To break the curse, the undead travels to the fallen kingdom of Drangleic and is
                tasked by the Emerald Herald with obtaining four Great Souls from powerful Old Ones whose names are long
                forgotten and forbidden. Once obtained, the Emerald Herald directs the undead to "Seek the King" in the
                capital. After fighting through the remains of the royal guards, the player encounters the Queen Nashandra,
                who reveals that the king failed in his duty and fled his kingdom long ago. She asks the protagonist to slay
                the king.

                Near the end of the Queen's quest, the player learns that the ruin of the kingdom was in fact caused by
                Nashandra. She came to the king and deceived him into launching an ill-fated invasion across the sea into
                the lands of the Giants. She coveted their souls and sought to steal their power. Though the raid succeeded
                in stealing the Giant's unspecified power, the Giants retaliated. Invading Drangleic, the Giants eventually
                destroyed the kingdom. With his kingdom in ruins, the king discovered Nashandra's true purpose and locked
                himself inside the Undead Crypt.

                In order to confront Nashandra, the player character travels to the keep of Aldia, the King's brother, to
                obtain the Ashen Mist Heart, an artifact that allows a form of time travel, by accessing the "memories" of
                corpses. The player must enter the memories of a deceased Giant to defeat the Giant Lord during the invasion
                and claim his power for their own. Confronting the Emerald Herald one final time, she states that Nashandra
                is a fragment of Manus, the final boss in the Artorias of the Abyss expansion in Dark Souls. She then asks
                the protagonist to put Nashandra to rest and to take the Throne of Want.

                In the Scholar of the First Sin version of the game, the base story changes slightly, notably with the
                addition of Aldia after the defeat of Nashandra. If the player has defeated King Vendrick, Aldia attempts to
                help the protagonist understand that there might be a way out of the endless cycle of death and rebirth. The
                player is given a choice: they can either take the throne, thus allowing the cycle of Age of Fire and Dark
                to continue; or the player can abscond the throne, resisting the effects of Hollowing and following their
                own unknown path beyond light or dark.</p>
        </section>
        <section class="section-5">
            <h3>Dark Souls III plot</h3>
            <p>Set in the Kingdom of Lothric, a bell has rung to signal that the First Flame, responsible for maintaining
                the Age of Fire, is dying out. As has happened many times before, the coming of the Age of Dark produces the
                undead: cursed beings that rise after death. The Age of Fire can be prolonged with the linking of the fire,
                a ritual in which great lords and heroes sacrifice their souls to rekindle the First Flame. However, Prince
                Lothric, the chosen linker for this age, abandoned his duty and chose to watch the flame die from afar. The
                bell is the last hope for the Age of Fire, resurrecting previous Lords of Cinder (heroes who linked the
                flame in past ages) to attempt to link the fire again; however, all but one Lord shirk their duty.
                Meanwhile, Sulyvahn, a sorcerer from the Painted World of Ariandel, wrongfully proclaims himself Pontiff and
                seizes power over Irithyll of the Boreal Valley and the returning Anor Londo cathedral from Dark Souls as a
                tyrant.

                The Ashen One, an Undead who failed to become a Lord of Cinder and thus called an Unkindled, rises and must
                link the fire by returning Prince Lothric and the defiant Lords of Cinder to their thrones in Firelink
                Shrine. The Lords include the Abyss Watchers, a legion of warriors, sworn by the Old Wolf's Blood which
                linked their souls into one, to protect the land from the Abyss, and were ultimately locked in an endless
                battle between each other; Yhorm the Giant, who was once a conqueror of the very people for whom he then
                sacrificed his life; and Aldrich, who became a Lord of Cinder despite his ravenous appetite for both men and
                gods. Lothric himself was raised to link the First Flame, but shirked his duties and chose instead to watch
                the fire fade.

                Once the Ashen One succeeds in returning Lothric and the Lords of Cinder to their thrones, they travel to
                the ruins of the Kiln of the First Flame. There, they encounter the Soul of Cinder, an amalgamation of all
                the previous Lords of Cinder who had linked the flame in the past. Once the Soul of Cinder is defeated, four
                endings are made possible based on the player's actions during the game. The player can attempt to link the
                fire, summon the Fire Keeper to extinguish the flame and begin an age of Dark, or kill her. A fourth ending
                consists of the Ashen One taking the flame for their own and becoming the Lord of Hollows.</p>
        </section>
    </section>



    <!-- ---------------------------------- CARRUSEL ---------------------------------- -->
    <section class="gallery">
        <div class="container max-height d-flex aling-items-center justify-content-center d-none d-sm-block">
            <div id="carouselExampleIndicators" 
                class="carousel slide" 
                data-bs-ride="carousel"
                data-bs-interval="3000">
                
    
            <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
                </div> 
    
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../img/gallery-1.jpg" class="d-block w-100" alt="DarkSouls-carrusel">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/gallery-2.jpg" class="d-block w-100" alt="DarkSouls-carrusel">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/gallery-3.jpg" class="d-block w-100" alt="DarkSouls-carrusel">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/gallery-4.jpg" class="d-block w-100" alt="DarkSouls-carrusel">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/gallery-5.jpg" class="d-block w-100" alt="DarkSouls-carrusel">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/gallery-6.jpg" class="d-block w-100" alt="DarkSouls-carrusel">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/gallery-7.jpg" class="d-block w-100" alt="DarkSouls-carrusel">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/gallery-8.jpg" class="d-block w-100" alt="DarkSouls-carrusel">
                    </div>
                </div>
    
                <button class="carousel-control-prev" 
                type="button" 
                data-bs-target="#carouselExampleIndicators" 
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
    
                <button class="carousel-control-next" 
                type="button" 
                data-bs-target="#carouselExampleIndicators" 
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>    
    </section>



<!-- -------------------------------- FOOTER --------------------------------- -->
    <footer>
        <div>
            <p>Contact us</p>
            <p>SoulsLike@gmail.com</p>
        </div>

        <div>
            <p>Franco Canepa</p>
            <p>Bandai Namco</p>
            <p>From Software</p>
            <p>Reserved copyright</p>
        </div>

        <div>
            <p>Social Media</p>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-twitch"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
        </div>

        <div>
            <p>Information</p>
            <p>Legal Information</p>
            <p>Conditions of use</p>
            <p>Privacy policy</p>
        </div>
    </footer>


    <!-- ---------------------------------- SCRIPT ----------------------------------------- -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>
</html>