/* -------------------------------- CSS INDEX ------------------------------- */

section {
    background-color: $bg-black;
    padding: 20px;
}


.section-main {
    padding: 20px;
    padding-bottom: 70px;
    background-color: $bg-black;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: #a32303 double 4px;
    padding: 10px;
    grid-area: main;
    .gif{
        width: 35%;
        height: auto;
        border: $border-orange-sect-div inset 10px;
        border-radius: 25px;
        grid-area: gif;
        img{
            width: 100%;
        }
    }
    .text{
        width: 65%;
        h1{
            font-family: 'Merriweather', serif;
            font-size: 5rem;
            color: nth($color, 1);
            border: $border-red-h2 inset 9px;
            border-radius: 10px;
            padding: 10px;
            margin-top: 15px;
            margin-bottom: 50px;
            display: inline-block;
        }
        h2{
            font-family: 'Josefin Sans', sans-serif;
            font-size: nth($font-size, 6);
            color: nth($color, 1);
            padding-top: 2rem;
            border: $border-red-h2 outset 7px;
            @extend %display;
            border-radius: 30px;
            padding: 10px;
            padding-bottom: 2px;
            margin-top: 2rem;
            grid-area: h2;
        }
        p{
            font-family: 'Roboto Slab', serif;
            color: nth($color, 5);
            width: 90%;
            font-size: nth($font-size, 10);
            margin-left: 5rem;
            margin-top: 2.5rem;
            border: $border-orange-sect-div ridge 5px;
            border-radius: 25px;
            padding: 20px;
            grid-area: main-p;
        }
    }
}



.section-1, .section-2, .section-3{
    .img-1{
        width: 35%;
        img{
            width: 100%;
            height: auto;
            margin-top: 10%;
            border: $border-orange-sect-div inset 10px;
            border-radius: 25px;
        }
    }
    .text{
        width: 65%;
        h3{
            font-family: 'Josefin Sans', sans-serif;
            font-size: nth($font-size, 4);
            color: nth($color, 6);
            border: $border-fire-h3 outset 5px;
            border-radius: 15px;
            display: inline-block;
            padding: 10px;
        }
        p{
            font-family: 'Roboto Slab', serif;
            font-size: nth($font-size, 7);
            color: nth($color, 5);
            width: 90%;
            margin-left: 5rem;
            margin-top: 2.5rem;
            border: $border-orange-sect-div ridge 5px;
            border-radius: 25px;
            padding: 20px;
        }
    }
}


.section-1 {
    @extend %home-section;
    grid-area: sec1;
}
.section-2 {
    @extend %home-section;
    grid-area: sec2;
}
.section-3 {
    @extend %home-section;
    grid-area: sec3;
}


/* --------------------------------- DESKTOP -------------------------------- */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
        "header header"
        "main main"
        "sec1 sec1"
        "sec2 sec2"
        "sec3 sec3"
        "foot foot"
    ;
}