
$bg-black: black;

$border-fire-ul: #ff4c00;
$border-grey-nav:rgb(56, 52, 52);
$border-yellow-logo: #ffb800;
$border-white-footer: azure;
$border-red-h2: #940303;
$border-orange-sect-div: #d85905ee;
$border-red-section: #880000;
$border-red-h3: #e00808ee;
$border-blue-container: #3606e6ee;
$border-celeste-producto: #0197c5ee;
$border-aside: #741700;
$border-fire-h3:#f03b0e;
